{% extends "base.html" %}

{% block title %}{% block meeting_title %}{% endblock %} - Video Conference{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/meetings.css') }}">
{% endblock %}

{% block extra_js %}
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/meetings.js') }}"></script>
{% endblock %}

{% block content %}
<div class="meeting-container">
    {% block meeting_content %}{% endblock %}
</div>
{% endblock %}